* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial;
}

.Conteudo {
    position: relative;
    width: 93%;
    margin-top: 150px;
}

.postagens {
    position: relative;
    width: 100%;
    height: 900px;
    background-color: rgb(255,255,255);
    border: #d3d3d3 1px solid;
    border-radius: 5px;
    margin-bottom: 5vh;
}

.postagens_perfil {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.postagens_perfil img {
    position: relative;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    margin-left: 1vw;
}

.nome_perfil {
    position: relative;
    margin-left: 1vw;
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #262626;
}

.postagens_imagem {
    position: relative;
    width: 100%;
    height: 614px;
}

.pontinhos {
    position: relative;
    margin-left: 26.5vw;
}

.postagens_imagem img {
    position: relative;
    width: 100.2%;
    margin-left: -0.2%;
    height: 614px;
}

.postagens_comentario {
    position: relative;
    width: 100%;
    height: 80px;
}

.comentario_icones {
    position: relative;
    width: 100%;
    height: 50px;
}

.icones_1 {
    position: relative;
    float: left;
    margin-top: 2vh;
    margin-left: 1vw;
}

.icones_2 {
    position: relative;
    float: left;
    margin-top: 2vh;
    margin-left: 29vw;
}

.curtido_por {
    position: relative;
    width: 100%;
    height: 30px;
}

.curtido_por img {
    position: relative;
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 1vw;
    cursor: pointer;
}

.curtido_por p {
    position: relative;
    float: left;
    margin-left: 0.5vw;
    font-size: 14px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #262626;
}

.curtido_por span {
    font-size: 14px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #262626;
    cursor: pointer;
}

.comentario {
    position: relative;
    width: 100%;
    height: 145px;
}

.comentario_nome {
    position: relative;
    float: left;
    margin-left: 1vw;
    font-size: 14px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #262626;
}

.comentario_titulo {
    position: relative;
    float: left;
    margin-left: 0.5vw;
    font-size: 14px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #262626;
}

.comentario_mais {
    position: relative;
    text-align: left;
    cursor: pointer;
    margin-bottom: 0.5vh;
    margin-left: 1vw;
    font-size: 14px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #8e8e8e;
}

.comentario_tempo {
    position: relative;
    text-align: left;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-bottom: 2vh;
    font-size: 10px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #8e8e8e;
}

.barra_comentario {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #efefef;
}

.barra_comentario .emoji {
    position: relative;
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.barra_comentario textarea {
    position: relative;
    width: 70%;
    resize: none;
    outline: none;
    margin-top: 2vh;
    font-size: 14px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #262626;
}

.barra_comentario p {
    position: relative;
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0095f6;
    cursor: pointer;
}